@page

@model WebApplication1.Pages.SearchModel

@{
    ViewData["Title"] = "Search For Bulls";

}
<style>
    .clickable {
        cursor: pointer
    }

    .scrollable {
        height: 364px;
        overflow-y: scroll;
    }

    th {
        position: sticky;
        background-color: white;
        z-index: 2;
        top: 0;
    }
</style>


<h1 style="font-size:medium">@ViewData["Heading"]</h1>
<form asp-page-handler="Search" method="post">
    <div class="form-group">
        <div class="input-group">
            <input id="search" type="search" class="form-control"
                   style="@(Model.tickerFound ? "border-color:black;background-color:white" : "border-color:darkred;background-color:mistyrose") "
                   placeholder="@(Model.tickerFound ? "Search Any Ticker" : "Ticker Not Found")" name="ticker" />
        </div>
    </div>
</form>
<div class="scrollable shadow">
    <table class="table">
        <thead>
            <tr>
                <th id="symbol">
                    <form asp-page-handler="Sort" method="post">
                        <button class="btn btn-group-toggle SearchTableBtn"><img id="toggle" src="~/toggle.png">Symbol</button>

                        <input type="hidden" name="sortOrder" value="symbol" />
                    </form>
                </th>
                <th id="price">
                    <form asp-page-handler="Sort" method="post">
                        <button class="btn btn-group-toggle SearchTableBtn"><img id="toggle" src="~/toggle.png">Price</button>
                        <input type="hidden" name="sortOrder" value="price" />
                    </form>
                </th>
                <th id="run">
                    <form asp-page-handler="Sort" method="post">
                        <button class="btn btn-group-toggle SearchTableBtn"><img id="toggle" src="~/toggle.png">Change</button>
                        <input type="hidden" name="sortOrder" value="run" />
                    </form>
                </th>
                <th id="rating">
                    <form asp-page-handler="Sort" method="post">
                        <button class="btn btn-group-toggle SearchTableBtn"><img id="toggle" src="~/toggle.png">Rating</button>
                        <input type="hidden" name="sortOrder" value="rating" />
                    </form>
                </th>
                <th id="volume">
                    <form asp-page-handler="Sort" method="post">
                        <button class="btn btn-group-toggle SearchTableBtn"><img id="toggle" src="~/toggle.png">Volume</button>
                        <input type="hidden" name="sortOrder" value="volume" />
                    </form>
                </th>
                <th id="report">
                    <form asp-page-handler="Sort" method="post">
                        <button class="btn btn-group-toggle SearchTableBtn"><img id="toggle" src="~/toggle.png">Earnings Day</button>
                        <input type="hidden" name="sortOrder" value="report" />
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Domain.Stock stock in Model.Stocks)
            {
                var color = "#f5fac5";
                @if (stock.PriceChange > 1)
                {
                    color = "#b6faa0";
                }
                @if (stock.PriceChange < -1)
                {
                    color = "#ff9696";
                }

                <tr id="@stock.Ticker" style="transition: background-color 1s linear; background-color:@color">

                    <td class="symbol" headers="symbol" style="background-color:ivory">
                        <a asp-page="/Details" asp-route-TICKER="@stock.Ticker">@stock.Ticker</a>
                    </td>
                    <td class="price" headers="price">$@stock.Price</td>
                    <td class="run" headers="run">@stock.PriceChange%</td>
                    <td class="rating" headers="rating">
                        @{
                            if (stock.AverageRating == Domain.Rating.Strong_Buy)
                            {
                                string rating = "Strong Buy";
                                @rating
                            }
                            else if (stock.AverageRating == Domain.Rating.Strong_Sell)
                            {
                                string rating = "Strong Sell";
                                @rating
                            }
                            else
                            {

                                @stock.AverageRating
                            }
                        }
                    </td>
                    <td class="volume" headers="volume">@String.Format("{0:n0}", stock.Volume)</td>
                    <td class="report" headers="report">
                        @{
                            if (!stock.ReportDay.Equals(DateTime.MinValue))
                            {
                                @stock.ReportDay.ToString("M/d/yyyy");
                            }
                            else
                            {
                                var none = "N/A";
                                @none;
                            }

                        }
                    </td>


                </tr>

            }
        </tbody>
    </table>
    <div class="modal fade" id="notConnectedModal" tabindex="-1" role="dialog" aria-labelledby="notConnectedModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notConnectedModal">Oh oh...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You're no longer connected, trading data may be inaccurate. 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    

    <script type="text/javascript" language="JavaScript">
        offlineModalShown=false

        function update()
        {    
                $.ajax({
                    type: "GET",
                    url: "/Search?handler=Update",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result) {
                        if (result.ticker == "" && !offlineModalShown) {
                            $("#notConnectedModal").modal("show");
                            offlineModalShown = true;
                        } else {
                            offlineModalShown = false;
                            var color = "#f5fac5";
                            if (result.priceChange > 1) {
                                color = "#b6faa0";
                            } else if (result.priceChange < -1) {
                                color = "#ff9696";
                            }
                            $('#' + result.ticker).css("background-color", color)
                            $('#' + result.ticker + " td.price").html("$" + result.price),
                                $('#' + result.ticker + " td.run").html(result.priceChange + "%"),
                                $('#' + result.ticker + " td.volume").html(result.volume)
                        }

                    },
                    error: function (req, status, error) {

                        console.log(status);
                    }

                })
            
               
            
        }

        $(document).ready(function () {
            setInterval(update, 5000);

        })
    </script>
}
